{% extends 'master.html' %}

{% block titulo %} Animes más vistos {% endblock %}	    

{% block contenido %} 

		<dl class="uk-description-list-line">

			{% if animes %}
				{% for anime, datos in animes.items %}
						<h4><strong>T&iacute;tulo: </strong> {{anime.titulo}} - <strong>Cantidad de opiniones:</strong> {{datos.num}}</h4>
					
					<dl class="uk-description-list-line">
						{% for anime, similaridad in datos.items %}
			    			<dd><strong>T&iacute;tulo:</strong> {{anime.titulo}} - <strong>Similaridad: </strong> {{similaridad | floatformat:"2"}}</dd>    
						{% endfor %}

					</dl>
				{% endfor %}

			{% endif %}

		</dl>

{% endblock %}